<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwifterOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwifteriOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C839B6D19422CFF003A6950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C839B7F19422CFF003A6950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CA4813A19A2EA8D0030B30D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE581B41A36D9E300FB840F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CEA69AD1BD271920009F783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
