<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwifterMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwifterOSXTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SwifterSampleOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SwifterSampleiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwifterSampletvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SwifteriOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwifteriOSTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SwiftertvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7AE893E61C05127900A29F63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AE893FA1C0512C400A29F63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6EC07F1C614051005A49B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C839B6D19422CFF003A6950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C839B7F19422CFF003A6950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CA4813A19A2EA8D0030B30D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CCD1B111C8F7B100016D664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CCD1B251C8F7B9E0016D664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CCD1B441C8F7C580016D664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CCD1B641C8F7CEC0016D664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CCD1B7C1C8F7E520016D664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CCD875B1C66099B0068099B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CCD87781C660EA30068099B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE581B41A36D9E300FB840F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CEA69AD1BD271920009F783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
