name: Test Linux Platform
on:
  pull_request:
    branches:
        - stable

jobs:
  Test-Linux-Platform:
    runs-on: ubuntu-latest
    container:
      image: swift:5.2
      options: --cap-add=SYS_PTRACE --security-opt seccomp=unconfined --security-opt apparmor=unconfined
    steps:
      - uses: actions/checkout@v2
      - name: Run Unit Tests
        run: swift test